footer{
  background-color:#212121;
  box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing:border-box;
  width:100%;
  text-align:left;
  font:bold 16px sans-serif;
  padding: 85px 50px 25px;
  bottom:0;
  color:#fff;
}

.footer-navigation h3{
  margin:0;
  font:normal 36px Cookie, cursive;
  margin-bottom:20px;
  color:#fff;
}

.footer-navigation h3 a{
  text-decoration:none;
  color:#fff;
}

.footer-navigation h3 span{
  color:#5383d3;
}

.footer-navigation p.links a{
  color:#fff;
  text-decoration:none;
  transition: all 0.2s;
}

.footer-navigation p.links a:hover{
  color:#920f29;
}

 p.company-name {
  display: block;
  color:#fafafa;
  font-size:13px;
  font-weight:normal;
  margin: 30px 0 10px 0;
  text-align: center;
}

@media (max-width:767px) {
  .footer-contacts{
    margin:30px 0;
  }
}

.footer-contacts p{
  display:inline-block;
  color:#ffffff;
  vertical-align:middle;
}

.footer-contacts p a{
  color:rgba(228, 2, 46, 0.58);
  text-decoration:none;
}

/*
.fa.footer-contacts-icon{
  background-color:#33383b;
  color:#fff;
  font-size:18px;
  width:38px;
  height:38px;
  border-radius:50%;
  text-align:center;
  line-height:38px;
  margin:10px 15px 10px 0;
}
*/

span.new-line-span{
  display:block;
  font-weight:normal;
  display:block;
  font-weight:normal;
  font-size:14px;
  line-height:2;
}

.footer-about h4{
  display:block;
  color:#fff;
  font-size:14px;
  font-weight:bold;
  margin-bottom:20px;
}

.footer-about p{
  line-height:20px;
  color:#92999f;
  font-size:13px;
  font-weight:normal;
  margin:0;
}

div.social-links{
  margin-top:20px;
  color:#fff;
}

.social-links a{
  display:inline-block;
  width:35px;
  height:35px;
  cursor:pointer;
  background-color:#33383b;
  border-radius:2px;
  font-size:20px;
  color:#ffffff;
  text-align:center;
  line-height:35px;
  margin-right:5px;
  margin-bottom:5px;
}

div.social-links a {
  background-color: #920f29;
  transition: 0.2s all;
}

div.social-links a:hover {
  background-color: #fafafa;
  color: #920f29;
}
.links{
	display: block;
	margin: 0 auto;
	width: 293px;
}

.img-thumbnail{
	border-radius:7px;
}

#footer-kontakt-wrapper{
	display:block;
	width:176px;
	margin:0 auto;
}

#footer-kontakt-wrapper div span.footer-contacts-icon:first-child{
	margin-right:10px;
}
