  html, body {
    height: 100%;
  }

  body {
    background: url(../img/front.png) no-repeat center center fixed;
    background-size: cover;
  }

  .landing-wrapper {
    min-height: 90vh;
    max-height: 90vh;
    height: auto;
    position: relative;
  }

  div.container {
    min-width: 100%;
  }

  div.container-landing {
    margin-top: 100px;
  }

  div.container-content {
    background-color: transparent;
    height: auto;
    /*position: absolute;*/
  }

  .row.section {
    /*border: solid 2px black;*/
  }

  h2 {
    font-size: 40px;
    color: white;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
  }

  h3 {
    font-size: 28px;
    color: white;
    font-weight: 500;
    text-align: center;
    margin-bottom: 40px;
  }

  nav.navbar.navbar-default.navbar-fixed-top {
    padding: 0px 30px;
    z-index: 2000;
    border: none;
    background-color: transparent;
    transition: all 0.2s;
  }

  .navbar-default .navbar-nav>li>a {
    transition: all 0.2s;
    color: #0D0D0D;
  }

  .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #E4032E;
    background-color: transparent;
  }

  .navbar-default .navbar-nav>li>a.active-section {
    color: #E4032E;
  }

  .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
    z-index: 1900;
  }

  .navbar-default .navbar-toggle {
    background-color: #0d0d0d;
    margin-top: 15px;
  }

  ul.nav.navbar-nav {
    margin: 20px 20px;
  }

  .in {
    margin: 0px 20px;
    background-color: #fff;
    /*border: solid 1px black;*/
    text-align: center;
    z-index: 1900;
  }

  img.img-responsive {
    display: block;
  }

  img.img-responsive.overlay {
    position: absolute;
    pointer-events: none;
    bottom: 0;
    transition: 0.2s all;
    width: 100%;
    z-index: 200;
  }

  li {
    color: #0D0D0D;
  }

  a.text-uppercase {
    font-weight: 600;
  }

  h1 {
    font-weight: 500;
    overflow: visible;
    z-index: 700;
  }

  h1.text-uppercase.text-center {
    font-size: 60px;
    font-weight: 600;
    font-family: 'Source Sans Pro';
  }

  p.text-center {
    color: #0d0d0d;
    font-size: 30px;
    font-weight: 400;
  }

  div.col-md-12 {
    text-align: center;
  }

  div.jumbotron {
    background-color: rgba(255, 255, 255, 0.43);
    text-align: center;
    height: auto;
    border-radius: 0.25em;
    margin: 0 auto;
    padding: 10px 20px;
  }

  #del-countdown {
    margin: 5% auto;
  }

  a.btn.btn-default {
    max-width: 10%;
    display: block;
    margin: 7% auto 5%;
    cursor: pointer;
    padding: 15px;
    transition: 0.3s all;
  }

  a.btn.btn-default:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.2);
  }

  label.error {
    color: rgb(197, 0, 0);
    font-size: 17px;
    margin: 5px 0px 0px 5px;
  }

  @media screen and (max-width: 768px) {
    .navbar-brand img {
      height: 40px
    }
    nav.navbar.navbar-default.navbar-fixed-top {
      padding-bottom: 20px;
    }
  }

  @media screen and (max-width: 475px) {
    nav.navbar.navbar-default.navbar-fixed-top {
      padding: 0px 1px;
    }
    div.container-landing {
      margin-top: 50px;
    }
    .row.section.mail {
      padding: 20px 0;
    }
  }

  span.iths-name {
    color: #E4032E;
  }

  li {
    font-size: 20px;
  }

  img.scrollDown {
    height: 50px;
    border-radius: 30px;
    padding: 6px;
    z-index: 1900;
    position: absolute;
    top: 80%;
    left: 50%;
    background-color: #0d0d0d;
    transform: translate(-50%, -50%);
    animation: animate-scroll 2s infinite;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 8px 10px 0 rgba(0, 0, 0, 0.19);
  }

  .fadeInUpBig {
    animation-name: fadeInUpBig;
    animation-duration: 1.5s;
    animation-fill-mode: both;
  }

  img.fadeInUpBig {
    animation-name: fadeInUp;
    animation-duration: 1.5s;
    animation-fill-mode: both;
  }

  i.fa {
    font-size: 40px;
    color: white;
    z-index: 700;
    position: absolute;
    left: 3%;
    transition: 0.3s all;
    animation-name: fadeInSocial;
    animation-fill-mode: both;
  }

  i.fa:hover {
    transform: scale(1.2);
  }

  i.fa.fa-twitter {
    top: 90%;
    animation-duration: 2.3s;
  }

  i.fa.fa-youtube {
    top: 82.5%;
    animation-duration: 1.9s;
  }

  i.fa.fa-facebook-official {
    top: 75%;
    animation-duration: 1.5s;
  }

  @media screen and (max-width: 815px) {
    i.fa {
      font-size: 30px;
    }
  }

  @media screen and (max-width: 1000px) {
    .scrollDown {
      display: none;
    }
  }
  /*Div section about*/

  #about {
    color: #000;
    font-size: 50px;
    font-weight: 600;
    z-index: 500;
  }

  #about-row {
    height: auto;
    background-color: #fff;
    text-align: left;
    padding-bottom: 70px;
  }

  #about-content {
  text-align: left;
  }

  #list-about {
    padding-top: 30px;
    list-style-type: none;
  }

  #map {
    height: 533px ;
    width: 100%;
    overflow: visible;
    position: relative;
    z-index: 3000;
  }

  @keyframes fadeInUpBig {
    from {
      opacity: 0;
      transform: translate3d(0, 300px, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translate3d(0, 800px, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes animate-scroll {
    0%, 20%, 50%, 80%, 100% {
      -webkit-transform: translateY(0) translateZ(0);
      -moz-transform: translateY(0) translateZ(0);
      -ms-transform: translateY(0) translateZ(0);
      -o-transform: translateY(0) translateZ(0);
      transform: translateY(0) translateZ(0)
    }
    40% {
      -webkit-transform: translateY(-30px) translateZ(0);
      -moz-transform: translateY(-30px) translateZ(0);
      -ms-transform: translateY(-30px) translateZ(0);
      -o-transform: translateY(-30px) translateZ(0);
      transform: translateY(-30px) translateZ(0)
    }
    60% {
      -webkit-transform: translateY(-15px) translateZ(0);
      -moz-transform: translateY(-15px) translateZ(0);
      -ms-transform: translateY(-15px) translateZ(0);
      -o-transform: translateY(-15px) translateZ(0);
      transform: translateY(-15px) translateZ(0)
    }
  }

  @keyframes fadeInSocial {
    from {
      opacity: 0;
      transform: translate3d(-200px, 0, 0);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
