.form-group{
  margin-bottom:25px;
}

textarea.form-control{
  height:249px;
}

.form-control{
  display:block;
  width:100%;
  height:auto;
  padding:20px;
  font-size:1.55rem;
  line-height:1.25;
  color:#E4022E;
  background-color:#fff;
  background-image:none;
  font-size: 20px;
  border-radius:.25rem;
  -webkit-transition:border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition:border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control:focus,
.form-control:active {
  background: white no-repeat;
  border-color: transparent;
  box-shadow: none;
  background-image: linear-gradient(to bottom, #e21b22, #e21b22), linear-gradient(to bottom, #757575, #757575);
  background-size: 100% 2px, 100% 1px;
  background-position: 50% 100%, 50% 100%;
  outline: none;
  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
}

h2.text-danger.section-heading{
  font-size:40px;
  margin-bottom:15px;
  margin-top:0;
  color:#fff;
}

h3.section-subheading.text-muted{
  font-size:15px;
  font-weight:400;
  font-style:italic;
  margin-bottom:75px;
  text-transform:none;
  font-family:'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
}

.btn.send-mail {
  background-color: #e4022e;
  font-size: 24px;
  color: white;
  border-radius: 3px;
  padding: 12px 24px;
  margin-top: 25px;
  transition: all 0.3s;
}

.btn.send-mail:hover,
.btn.send-mail:active {
  background-color: #fff;
  color: #e4022e;
  font-size: 26px;
}

.mail {
  position: relative;
  top: 100vh;
  background-color: #0d0d0d;
  padding: 20px 43px;
}
